<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086822335885-ue9opsupd44o8iu16gas51tjhiognqba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086822335885-ue9opsupd44o8iu16gas51tjhiognqba</string>
	<key>API_KEY</key>
	<string>AIzaSyCuUXWwZFo_2KdBPzv0q3S5Jq0G5J5W95c</string>
	<key>GCM_SENDER_ID</key>
	<string>1086822335885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jmr.siyaRam.com</string>
	<key>PROJECT_ID</key>
	<string>siyaram-483ee</string>
	<key>STORAGE_BUCKET</key>
	<string>siyaram-483ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086822335885:ios:8b6f2abcd5dd2f187b29c4</string>
</dict>
</plist>